.cal-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:817px;
  }

  .cell-thismonth{
    background-color:  aliceblue;
    width: 114px;
    margin: 1px;
  }
  
  .cell-othermonth{
    background-color: rgb(204, 204, 204);
    width: 114px;
    margin: 1px;
  }
  
  .cell-thismonth.currentday{
    background-color: rgb(203, 255, 203);
    width: 114px;
    margin: 1px;
  }
  
  .dayname{
    width: 115px;
  }

  .event-holder{
    background-color: rgb(185, 216, 243);
  }