.cal-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:817px;
  }

  .cell-thismonth{
    background-color:  rgb(212, 235, 255);
    width: 114px;
    min-height: 140px;
    margin: 2px;
  }
  
  .cell-othermonth{
    background-color: rgb(204, 204, 204);
    width: 114px;
    min-height: 140px;
    margin: 2px;
  }
  
  .cell-thismonth.currentday{
    background-color: rgb(147, 204, 255);
    width: 114px;
    min-height: 140px;
    margin: 2px;
  }
  
  .dayname{
    width: 115px;
    text-align: center;
  }

  .event-holder{
    background-color: rgb(185, 216, 243);
    margin: 2px;
  }

  .add-event{
  
    background-color: rgba(140, 197, 140, 0.544);
    text-align: center;
  }

  .delete-event{

    background-color: rgba(227, 162, 162, 0.618);
    text-align: center;
  }

  .event-holder.past{
    background-color: rgb(140, 140, 140);
    margin: 2px;
  }

  .event-holder.registered{
    background-color: rgb(100, 185, 141);
    margin: 2px;
  }